[Unit]
Description=OpenSSH per-connection server daemon
Wants=sshd-keys.service
After=sshd-keys.service

[Service]
EnvironmentFile=-/etc/ssh/ssh-env.conf
ExecStart=-/usr/sbin/sshd -i $SSHD_PARAMETERS
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
StandardOutput=socket

