[Unit]
Description=Create sshd host keys
DefaultDependencies=no
ConditionPathExists=|!/etc/ssh/ssh_host_rsa_key
PartOf=sshd.service sshd.socket
After=local-fs.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sshd-hostkeys
RemainAfterExit=yes

