[Unit]
Description=SSH Per-Connection Server
After=syslog.target 

[Service]
EnvironmentFile=-/etc/ssh/ssh-env.conf
ExecStart=-/usr/sbin/sshd -i $SSHD_PARAMETERS
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
StandardOutput=socket

[Install]
WantedBy=network.target
